
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  text-align: center;
}

header {
  	background-image: url("../img/marriage_main.jpeg"); /* in order to see the photo I have to get the window really small - help? */
  	background-size: cover;
  	display: flex;
  	width: 100%;
  	justify-content: center;
  	min-height: 500px;
}

h1, h2 {
  text-transform: uppercase;
  color: rgb(237, 193, 119);
  letter-spacing: 20px;
  line-height: 8px;
}

h3 {
  color: white;
  line-height: 8px;
}

nav {
  background-color: rgb(32, 62, 103);
  padding: 10px;
  word-spacing: 25px;
}

nav a {
  color: rgb(235, 235, 235);
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: rgb(237, 193, 119);
}

.scrolled {
  position: fixed;
  z-index: 100;
  top: 0;
}

.love, .marriage {
  display: inline-block;
} /* plan is to have image overlay on hover */

.love-overlay, .marriage-overlay {
  display: none;
} /* plan is to have image overlay on hover */
