<div class="ui stackable grid">
  <div class="five wide column">
    <img class="ui medium rounded image" src="../img/profilePhoto.jpg" alt="Megan, Profile Photo">
    <div class="ui list">
      <div class="item">
        <i class="marker icon"></i>
        <div class="content">
          Washington DC
        </div>
      </div>
      <div class="item">
        <i class="code icon"></i>
        <div class="content">
          <a href="/portfolio">portfolio</a>
        </div>
      </div>
      <div class="item">
        <i class="linkedin square icon"></i>
        <div class="content">
          <a href="https://www.linkedin.com/in/megan-penn-04642556"> linkedin.com/megan-penn...</a>
        </div>
      </div>
      <div class="item">
        <i class="github square icon"></i>
        <div class="content">
          <a href="https://github.com/pennmeg"> github.com/pennmeg</a>
        </div>
      </div>
    </div>
    <h3>Skills</h3>
    <p>HTML/HTML5, CSS, JavaScript, GitHub, Terminal, Ruby on Rails, Program Management, Client Service &amp; Satisfaction, Emergency Situation Management, French</p>
  </div>
  <div class="eleven wide column">
    <p id="summary">
      I'm a full stack web developer with a background in international security and education.
      I have a passion for technology and social impact, and work to expand technology education and awareness
      both in and out of the industry. While a product of web development bootcamps, I have a knack for catching on quickly, working
      hard, and a passion and interest for continued learning - looking forward to picking up
      PHP or Phython next!</p>
    <h3>Professional Experience</h3>
    <div class="ui list">
      <div class="item">
        <div class="header">United Nations Association of the National Capital Area</div>
        Director of Global Education
        <div class="ui bulleted list">
          <div class="item">Jul. 2015 - Aug. 2017</div>
          <div class="item">Developed, implemented, and managed the strategic direction of the Global Classrooms DC (GCDC) education program,
            impacting over 3,000 students in grades 5-12</div>
          <div class="item">Oversaw, managed, and trained a team of 4-6 program assistants and 80+ volunteers; trained office on printing,
            phone, and technology procedures</div>
          <div class="item">Organized 2-3 annual Model United Nations (UN) conferences for over 700 students and 80+ educators, including a
            Spring conference at the U.S. Department of State and Pan American Health Organization (PAHO) which has welcomed speakers including
            Secretary of State Rex W. Tillerson </div>
          <div class="item">Responsible for event execution and planning of the Spring Model UN Conference at the U.S. Department of State and
            PAHO including handling sensitive security information, running meetings with State Department and UNA-NCA employees and interns,
            conference materials and catering for over 700 individuals</div>
        </div>
      </div>
    </div>
    <!-- Saved code to input projects as they grow -->
    <!-- <h3>Projects</h3>
    <div class="ui list">
      <a class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Icon Alignment</div>
          <div class="description">Floated icons are by default top aligned. To have an icon top aligned try this example.</div>
        </div>
      </a>
      <div class="item">
        <i class="code icon"></i>
        <div class="content">
          <a href="/portfolio">view portfolio</a>
        </div>
      </div>
    </div> -->
    <h3>Education</h3>
    <div class="ui list">
      <div class="item">
        <div class="header">M.A. Security Policy Studies, 2015</div>
        The George Washington University, Elliott School of International Affairs <br>
        Concentrations: Cyber Security Policy &amp; Transnational Security Issues
      </div>
      <div class="item">
        <div class="header">B.A. International Studies, Honours, 2012</div>
        York University, Glendon College <br>
        Bilingual General Diploma
      </div>
      <div class="item">
        <div class="header">Certificate, Full Stack Web Development, 2017</div>
        New York Code + Design Academy
      </div>
      <div class="item">
        <div class="header">Certificate, Front End Web Development, 2017</div>
        General Assembly
      </div>
    </div>

  </div>
</div>
