<div class="ui mobile reversed stackable grid">
  <div class="ten wide column">
    <img class="ui big rounded image" id="homePhoto" src="../img/computer_cozy.jpg">
    <h3 class="ui justified header">
      <i class="code icon"></i>
      <div class="content">
        I design in HTML, CSS, and JavaScript/jQuery, and am familiar with
        frameworks including Bootstrap &amp; Semantic UI. I work in Ruby on Rails, and regularly use GitHub and Terminal.
      </div>
    </h3>
    <div class="ui two stackable cards">
      <a class="ui card" class="pubs" href="http://www.observatorymedia.org/caves-couriers-terrorists-communications-going-dark/">
        <div class="content">
          <div class="header">Caves & Couriers: Terrorists' Communications Going Dark</div>
          <div class="description">
            <p>Observatory Media<br>Published: Jun. 16, 2016</p>
          </div>
        </div>
      </a>
      <a class="ui card" class="pubs" href="http://thesimonscenter.org/iap-17w-november-2015/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B1yI5R1k6SB6oxDloQtexUQ%3D%3D">
        <div class="content">
          <div class="header">Countering Cyber Extremism</div>
          <div class="description">
            <p>Interagency Papers<br>Co-authored by: Joshua K. Miller and Jan Schwarzenberg<br>Published: Nov. 3, 2015</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="six wide column">
    <br>
    <p>Canadian born, web developer &amp; cyber security analyst, passionate about technology, enjoy being able to think
      creatively and critically, addicted to a good face mask, and
      keep organized with a good ol' pen &amp; Filofax - plus a few stickers.</p>
    <div class="ui list">
      <div class="item">
        <i class="marker icon"></i>
        <div class="content">
          Washington DC
        </div>
      </div>
      <div class="item">
        <i class="linkedin square icon"></i>
        <div class="content">
          <a href="https://www.linkedin.com/in/megan-penn-04642556"> linkedin.com/megan-penn...</a>
        </div>
      </div>
      <div class="item">
        <i class="github square icon"></i>
        <div class="content">
          <a href="https://github.com/pennmeg">github.com/pennmeg</a>
        </div>
      </div>
    </div>
  </div>
</div>
