<!doctype html>
<html lang="en">
  <!-- ======= ======= ======= head ======= ======= ======= -->
	<head>
		<title>MP | Portfolio</title>
		<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
  <!-- ======= ======= ======= body ======= ======= ======= -->
	<body>
    <header>
      <%= erb :menu %>
      <h1 id="siteName">Megan Penn</h1>
    </header>
		<div id="yield-container" class="section">
			<%= yield %>
		</div>
		<br>
		<button class="ui button" id="topButton">
			<i class="angle double up icon"></i>
		</button>
		<br>
    <footer>
			<hr>
      <p>&copy; 2017 Megan Penn</p>
    </footer>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>
