<!-- ======= views/menu.erb ======= -->
<div class="ui text fixed menu" id="nav">
  <a class="item" href="/">
    Home
  </a>
  <a class="item" href="/about">
    About
  </a>
  <a class="item" href="/portfolio">
    Portfolio
  </a>
  <!-- <a class="item" href="/blog">Writing</a> -->
  <div class="right menu">
    <h1 id="secondNav">Megan Penn</h1>
  </div>
</div>
